<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <title>图书馆里系统</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/comm.css">

    <script src="/webjars/jquery/3.5.1/jquery.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.js"></script>
    <script src="/js/net.js"></script>

    <style>
        main {
            display: flex;
            flex-direction: row;
        }

        .left {
            flex: 1;
        }

        .right {
            flex: 1;
        }
    </style>

    <script>
        function saveInfo() {
            net.put({
                url: "/admin/book",
                json: {
                    id: $("#id").val(),
                    name: $("#name").val(),
                    author: $("#author").val(),
                    des: $("#des").val(),
                    all: $("input[name='mode']:checked").val()
                },
                toast: true,
                success: function () {
                    alert("修改成功!");
                    window.location.reload();
                }
            })
        }

        function saveImg() {
            var file = $("#file").val()
            if (file == null || file === '') {
                alert("请选择文件")
            } else {
                var form = new FormData();
                form.append("file", document.getElementById("file").files[0], file);
                form.append("all", $("input[name='mode1']:checked").val())

                var settings = {
                    "url": "/admin/cover/book/" + $("#id").val(),
                    "method": "POST",
                    "dataType": "json",
                    "timeout": 0,
                    "processData": false,
                    "mimeType": "multipart/form-data",
                    "contentType": false,
                    "data": form
                };

                $.ajax(settings).done(function (result) {
                    console.log(result)
                    if (result.success) {
                        alert("修改成功")
                        window.location.reload();
                    } else {
                        alert(result.message);
                    }
                });
            }
        }
    </script>
</head>
<body>

<div th:replace="common/admin::navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="common/admin::sidebarMenu"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="left">
                <br>
                <h3>修改书籍信息</h3>
                <hr>
                <div style="font-weight: bold;font-size: 24px" th:text="'ID: '+${book.id}"></div>
                <input id="id" hidden th:value="${book.id}">
                <br>
                <div style="font-weight: bold;font-size: 20px">
                    书籍名称：
                    <input id="name" type="text" th:value="${book.name}">
                </div>
                <br>
                <div style="font-weight: bold;font-size: 20px">
                    书籍作者：
                    <input id="author" type="text" th:value="${book.author}">
                </div>
                <br>
                <div style="font-weight: bold;font-size: 20px">
                    书籍简介：
                </div>
                <textarea id="des" style="margin-top: 8px;width:90%" th:text="${book.des}" rows="10"></textarea>
                <br>
                <div style="font-weight: bold;font-size: 20px;">
                    应用方式：
                    <label style="font-size: 16px">
                        <input type="radio" value="0" name="mode" checked>
                        应用于单本书籍
                    </label>
                    &nbsp;
                    <label style="font-size: 16px">
                        <input type="radio" value="1" name="mode">
                        应用于所有同名同作者书籍
                    </label>
                </div>
                <input style="width: 90%" type="button" class="btn btn-primary" value="保存修改" onclick="saveInfo()">
            </div>
            <div class="right">
                <br>
                <h3>修改书籍封面</h3>
                <hr>
                <img style="width: 280px;height: 400px" th:src="'/cover/book/'+${book.id}"><br>
                <input id="file" type="file" value="选择文件" accept="image/*"><br>
                <div style="font-weight: bold;font-size: 20px;">
                    应用方式：
                    <label style="font-size: 16px">
                        <input type="radio" value="false" name="mode1" checked>
                        应用于单本书籍
                    </label>
                    &nbsp;
                    <label style="font-size: 16px">
                        <input type="radio" value="true" name="mode1">
                        应用于所有同名同作者书籍
                    </label>
                </div>
                <input style="width: 280px" type="button" class="btn btn-primary" value="提交选择的图片" onclick="saveImg()">
            </div>
        </main>
    </div>
</div>

</body>
</html>